.chat__body {
  background-image: url("../images/chatBg.png");
  height: 5000px;
}

.chat__body .header-wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 20px;
  background-color: white;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chat .chat__messages {
  margin-top: 100px;
  border-top: 1px solid #f7f7f7;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat .g-avatar {
  margin-right: 15px;
}

.chat .chat__timestamp {
  background-color: white;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 25px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  font-weight: 600;
}

.chat .message__bubble {
  background-color: #f7f7f7;
  display: block;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.message__incoming-message .message__bubble {
  border-top-left-radius: 0px;
  color: white;
  font-weight: 600;
  background-image: linear-gradient(to right, #5c258d, #4389a2);
}

.message__sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  color: white;
  font-weight: 600;
  background-image: linear-gradient(to right, #4776e6, #8e54e9);
  margin-bottom: 20px;
}

.chat .message__incoming-message {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.chat .message__author {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.chat .message__sent-message {
  align-self: flex-end;
  display: flex;
}

.chat .message__timestamp {
  align-self: flex-end;
  opacity: 0.7;
  font-size: 14px;
}

@keyframes float {
  0% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 30px 60px -60px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message__incoming-message {
  animation: incomingAnim 0.5s ease-out forwards;
}

@keyframes sentAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message__sent-message {
  animation: sentAnimation 0.5s ease-out forwards;
}

.chat__write--container {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #f7f7f7;
  bottom: 0px;
  padding: 5px 50px;
  transition: width 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    border-radius 0.5s ease-in-out, transform 0.5s ease-in-out;
  animation: float 3s linear infinite forwards;
}

.chat__icon {
  font-size: 18px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write--container:focus-within .chat__icon {
  opacity: 0;
}
.chat__write--container:focus-within {
  transform: translateY(-100px);
  border-radius: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  width: 80%;
  transition: all 0.5s ease-in, all 0.5s ease-in-out;
}
.chat__write--container:focus-within .chat__write {
  opacity: 1;
}

.chat__write i {
  font-size: 22px;
}

.chat__write {
  width: 100%;
}

.chat__write input {
  padding: 20px 10px;
  background-color: #f7f7f7;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__write-input:focus {
  outline: none;
  width: 80%;
}

.chat__write-input:focus + .chat__icon {
  opacity: 0;
}

.chat__write-left {
  position: absolute;
  left: 20px;
}

.chat__write-right {
  position: absolute;
  right: 25px;
}
